---
layout: homepage
---

{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  {% assign category_name = category[0] %}
  {% assign posts_in_category = category[1] | sort: "date" | reverse %}

  <section id="{{ category_name | slugify }}">
    <details>
      <summary tabindex="0">{{ category_name }}</summary>

      {% for post in posts_in_category %}
        <div class="post">
          <time datetime='{{ post.date | date: "%F" }}' class="post-date">{{ post.date | date: "%F" }}</time>
          <a href="{{ post.url | relative_url }}" tabindex="0">{{ post.title }}</a>
        </div>
      {% endfor %}

    </details>
  </section>
{% endfor %}



{% assign uncategorized_posts = "" | split: "" %}

{% for post in site.posts %}
  {% if post.categories == empty %}
    {% assign uncategorized_posts = uncategorized_posts | push: post %}
  {% endif %}
{% endfor %}

{% if uncategorized_posts.size > 0 %}
  <section id="uncategorized">
    <details>
      <summary tabindex="0">Uncategorized</summary>

      {% for post in uncategorized_posts %}
        <div class="post">
          <time datetime='{{ post.date | date: "%F" }}' class="post-date">{{ post.date | date: "%F" }}</time>
          <a href="{{ post.url | relative_url }}" tabindex="0">{{ post.title }}</a>
        </div>
      {% endfor %}
    </details>
  </section>
{% endif %}

